<h2>{{ translator.lang(current_article ? '@Blog.article.edit' : '@Blog.article.create') }}</h2>
<div grid='gutters center'>
	<form method='POST' column='12 d-6' grid='list gutters'>
		{{ csrf.field | raw }}
		<div class="simple-title">Informations</div>
		<div class="card-box">
			<div class="content">
				{% include '@Domain/components/form/input.twig' with {
						name: 'name', 
						label: 'Name',
						value: current_article ? current_article.name : null
					} 
				%}
				{% include '@Domain/components/form/input.twig' with {
						name: 'slug', 
						label: 'Slug',
						value: current_article ? current_article.slug : null
					} 
				%}
				{% include '@Domain/components/form/select.twig' with {
						name: 'category_id', 
						label: 'Category',
						class: '-darky',
						field_class: '-last',
						options: categories,
						value: current_category.id
					} 
				%}
			</div>
		</div>

		<div class="simple-title">Content</div>
		{% include '@Domain/components/form/textarea.twig' with {
				name: 'content', 
				value: current_article ? current_article.content : null
			} 
		%}

		<button type="submit" class='-success'>Create</button>
	</form>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script type="text/javascript" src='{{ asset('js/blog/markdown-editor.js') }}'></script>