<div grid='list gutters'>
	<h2>Blog management</h2>
	
	{% for category in categories %}
		<div grid='gutters middle'> 
			<div class="simple-title">{{category.name}} ({{category.article | length}})</div>  
			<a href="#" class='button -square -condensed -darky _font-80'><i class='ico ico-pencil ico-right'></i>Edit category</a>
			<a href="{{ path_for('@Blog.private.article.create', {category_slug:category.slug, category_slug:category.slug}) }}" class='button -square -condensed -darky _font-80'><i class='ico ico-plus ico-right'></i>Create article</a>
		</div>
		<div column class='-scrollable'>
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Path</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for article in category.article %}
						<tr>
							<td>{{ article.name }}</td>
							<td>{{ path_for('@Blog.public.article', {article_slug:article.slug, category_slug:category.slug}) }}</td>
							<td>
								<a href="{{ path_for('@Blog.public.article', {article_slug: article.slug, category_slug:category.slug}) }}">view</a>
								<a href={{ path_for('@Blog.private.article.edit', {article_slug: article.slug, category_slug:category.slug}) }}>edit</a>
								<a href="{{ path_for('@Blog.private.article.delete', {article_slug: article.slug, category_slug:category.slug}) }}">delete</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endfor %}

	<div class="simple-title">Create a category</div>
	<form action='{{ path_for('@Blog.private.category.create') }}' method='POST'>
		{% include '@Domain/components/form/input.twig' with { name: 'name', label: 'Label' } %}
		{% include '@Domain/components/form/input.twig' with { name: 'slug', label: 'Slug' } %}
		<button class='-success'>Create</button>
	</form>
</div>