<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('favicon-64x64.png') }}" sizes="64x64">

        <link rel="stylesheet" type="text/css" href="https://gl.githack.com/Jonas-B/frame-css/raw/master/dist/frame.css">

        {% block styles %}{% endblock %}

        <title>{{ getenv('APP_NAME', 'My App') }} - {{ route.getName() | split('.') | last | capitalize }}</title>
    </head>
    <body grid='fluid' class='theme'>
        {% include '@Domain/components/nav.twig'%}

        <div class="content" column>
            {% block content %}{% endblock %}
        </div>

        <script type="text/javascript" src='{{ asset('js/domain/util.js') }}'></script>

        {% block scripts %}{% endblock %}
    </body>
</html>
