<div class='bread-crumb -no-margin'>
	{% set uri = path_for(route.getName, route.getArguments)|replace({(getenv('APP_URI')):''}) %}
	{% set paths = uri|split('/') %}

	{% for path in paths %}
	    {% if path is not empty %}
	    	{% set dadIndex = loop.index %}
	    	{% set buildedPath = getenv('APP_URI') %}
	    	{% for _path in paths %}
	    		{% if loop.index <= dadIndex and _path is not empty %}
	    			{% set buildedPath = buildedPath ~ '/' ~ _path %}
	    		{% endif %}
	    	{% endfor %}
	    	<a href="{{ buildedPath }}" class='item'>{{ path }}</a>
	    	{% if paths[loop.index] is not empty %}
	    		<span class='separator'></span>
	    	{% endif %}
	    {% endif %}
	{% endfor %}
</div>