{% import '@Domain/components/link.twig' as html %}

<div class='side-bar -scrollable' id='side-bar'>
	<div class="side-toggle" grid='padded'>
		<a class='side-open' href='#side-bar'>
			<i class="ico ico-chevron-right"></i>
		</a>
		<a class='side-close' href='#'>
			<i class="ico ico-chevron-right"></i>
		</a>
	</div>
	<div grid='gutters middle list' column>
		<div class="group-block -vertical">
			<button class='button -darky -square'><i class='-flat ico ico-flag-variant ico-right'></i>France</button>
			<button class='button -darky -square'><i class='-flat ico ico-city ico-right'></i>Saint-Nazaire</button>
			<button class='button -darky -square' data-action='copy' data-trigger='click'><i class='-flat ico ico-email ico-right'></i><span data-target>bouscharain.jonas@hotmail.fr</span></button>
			<button class='button -darky -square' data-action='copy' data-trigger='click'><i class='-flat ico ico-phone ico-right'></i><span data-target>+33605279908</span></button>
		</div>
		<div><hr></div>
		<div grid='list gutters no-shrink' column>
			<span class='simple-title'>Navigation</span>
			{% for item in global().navbar.main %}
				{% include item.file with item.args | default({}) %}
			{% endfor %}
		</div>
		<div grid='list gutters'>
			{% for item in global().navbar.right %}
				{% include item.file with item.args | default({}) %}
			{% endfor %}
		</div>
	</div>
</div>