{% extends '@Domain/components/form/input.twig' %}

{% block input %}
    <label class='input-file {{ container_class }}{% if attribute(errors, name) != null %} -error{% endif %}'
        {% for name, value in props %}
            {{ name }}='{{ value }}'
        {% endfor %}
    >
        <input type="file" name='{{ name }}' id='{{ name }}' class='input {{ class }}' value='{{ value | default(attribute(old, name)) }}'>
        <span class="prefix"></span>
        <span class="value"></span>
    </label>
{% endblock %}