{% extends '@Domain/layout/app.twig' %}

{% block content %}
	{% include '@Domain/components/breadcrumb.twig' %}
	<div grid='list gutters'>
		<h3>{{ current_article.name }}</h3>
		<a href="{{ path_for('@Blog.public.category', {category_slug:current_article.category.slug}) }}">{{ current_article.category.name }}</a>
		<div>
			{{current_article.content|markdown}}
		</div>
	</div>
{% endblock %}